<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 40px;
  width: 100%;
  min-height: 100vh;
}

.app {

  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  height: 100%;
  overflow: hidden;
  transition: all 1s;
=======
.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid red;

  p {
    background-color: yellow;
  }
>>>>>>> a2ca32b80a516e0c6d8abedb99495aa16020294d
}
